@define-color background #151620;
@define-color main #FFEC8C;
@define-color inactive #C27E65;
@define-color disabled #424244;
@define-color glow #C27E65;
@define-color glow_secondary #823ACF;
* {
    font-family: "Cozette";
    font-size:   13px;
    min-height: 0;
}
window#waybar {
    background: @background;
}


/* [MODULES - TOP] */
#mpd {
  margin-left: 8px;
  color: @disabled;
}
#mpd.playing {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}
#mpd.paused {
  color: @inactive;
}

#window {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}


#clock {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#bluetooth {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#network {
  margin-right: 8px;
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3  @glow_secondary;
}
#network.disconnected {
  color: @inactive;
  text-shadow: none;
}


/* [MODULES - BOTTOM] */
#workspaces {
  border-radius: 0px;
}
#workspaces button {
  color: @inactive;
  border-radius: 0px;
}
#workspaces button.active {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
  border-radius: 0px;
}

#cpu {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#memory {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#disk {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#wireplumber {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}
#wireplumber.muted {
  color: @disabled;
  text-shadow: none;
}

#cava {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#battery {
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

#submap {
  margin-right: 8px;
  color: @main;
  text-shadow: -1px -1px 3 @glow, 1px -1px 3 @glow, -1px 1px 3 @glow, 1px 1px 3 @glow_secondary;
}

